.navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(210, 210, 210);
}




.logo{
  width: 55%;
}


.categorias-nav{
  display: flex;
  align-items: center;
  gap: 3rem;
}



.hola{
  text-decoration-line: none;
  font-weight: bold;
  color: red;
}

.hola:hover{
  color: black;
}



.carro{
  display: flex;
  align-items: center;
}

.carrito{
  font-weight: bold;
  font-size: 1.2rem;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;

}

.tarjetas-cartas{
  
}

.tarjetas{
  border: 2px solid black;
  border-radius: 1rem;
  margin: 3rem;
  
  
}