.nav {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
}

.botones {
  margin-top: auto;
  display: flex;
  gap: 2rem;
}

.div-botones{
  border: none;
background-color: lightgray;
font-size: 17px;
}